/* HOME NAV */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-left: 0.5rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right:2rem;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  color: #333;
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #333;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  padding-top: 1rem;
  padding-right: 2rem;
  font-size: 40px;
  color: #6c63ff;
  text-align: center;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    line-height: 1.6;
    padding: 20px;
  }
  
  .titulo h1 {
    color: #6c63ff;
    text-align: center;
    font-size: 40px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #666;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="number"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #6c63ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #5249fd;
  }
  
  #mensaje {
    text-align: center;
    margin-top: 20px;
  }

  /* footer */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer p {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;

}

.footer li {
  margin: 0 10px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}